---
# Only the main Sass file needs front matter (the dashes are enough)
# search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__content {
    max-width: 1200px; /* 기본 너비를 넓힘 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 여백 추가 */
    font-size: 16px; 
    line-height: 1.4; /* 줄 간격 */
  }

  .container {
    max-width: 1800px; /* 전체 컨테이너 너비 */
  }

  @media (max-width: 768px) {
    .page__content {
      max-width: 100%; /* 모바일 화면에서는 너비를 100%로 설정 */
      padding: 2px;    /* 여백을 줄임 */
    }
  }

.sidebar__left {
    margin-left: 300px; /* 왼쪽으로 20px 이동 */
    padding-right: 10px; /* 필요시 오른쪽 여백 추가 */
}

.sidebar__right {
    // position: fixed;
    // max-width: 200px;
    font-size: 16px;
    // position: sticky; /* 또는 fixed */
    // top: 20px;
}

blockquote {
    margin: 0; /* 바깥 여백 제거 */
    padding: 10px; /* 안쪽 여백 줄이기 */
    line-height: 1.4; /* 줄 간격 조정 */
    border-left: 4px solid #aaa; /* 기본 인용 세로줄 */
    background-color: #f9f9f9; /* 선택적 배경색 */
  }

  