---
# Only the main Sass file needs front matter (the dashes are enough)
# search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');



body {
  /*font-family: 'Noto Sans KR', sans-serif;*/
  font-family: 'GowunDodum-Regular';
  
}

.page__title {
  font-family: 'BMDOHYEON';
  font-weight: normal;
  margin-top: 0;
  line-height: 1;
}

.page__content {
    max-width: 1200px; /* 기본 너비를 넓힘 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 여백 추가 */
    font-size: 16px; 
    line-height: 1.4; /* 줄 간격 */
    font-family: $Open-Sans, sans-serif;  /* ,'BMDOHYEON', */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        line-height: 1.4;
        cursor: text;
    }

    h1, h2, h3 {
      font-family: $Open-Sans, sans-serif;  /* ,'BMDOHYEON', */
      padding-bottom: .2em;
      font-weight: bold;
      border-bottom: 0px solid rgb(241.7, 242.5, 243.1);
    }

    h1 {
      font-size: 2.25em;
      line-height: 1.2;
      border-bottom: 1px solid #eee;
    }

    h2 {
      font-size: 1.75em;
      color: #3F0099;
      line-height: 1.225;
      border-bottom: 1px solid #eee;
    }

    h3 {
      font-size: 1.5em;
      margin: 20px 0 16px;
      color: #670000;
      line-height: 1.43;
    }

    h4 {
      font-family: $Open-Sans, sans-serif;  /* ,'BMDOHYEON', */
      font-size: 1.25em;
      margin: 20px 0 13px;
    }

    h5 {
      font-size: 1em;
    }
    h6 {
      font-size: 1em;
        color: #777;
    }

    li {
      margin: 12px 6px;
      padding-inline-start: 0.3em;
    }

    strong, b, p {
      font-family: $Open-Sans, sans-serif;  /* ,'BMDOHYEON', */
    }

    /* 첫 번째 ul 내부가 아닌, 중첩 ul 내부의 li */
    ul ul li {
      margin: 6px 12px 6px;
    }

    li::marker {
      margin-right: 4px; 
    }
  
    line-height: 1.6;
  }


  .container {
    max-width: 1800px; /* 전체 컨테이너 너비 */
  }

  @media (max-width: 768px) {
    .page__content {
      max-width: 100%; /* 모바일 화면에서는 너비를 100%로 설정 */
      padding: 2px;    /* 여백을 줄임 */
    }
  }

.sidebar__left {
    margin-left: 300px; /* 왼쪽으로 20px 이동 */
    padding-right: 10px; /* 필요시 오른쪽 여백 추가 */
}

.sidebar__right {
    // position: fixed;
    // max-width: 200px;
    font-size: 16px;
    // position: sticky; /* 또는 fixed */
    // top: 20px;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

blockquote {
  margin: 0; 
  padding: 10px; 
  line-height: 1.4; 
  border-left: 4px solid #aaa; // 기본 인용 세로줄
  background-color: #f9f9f9;
  margin-block-start: 1em;
  margin-inline-end: 1em;
  padding-inline: 1em;
  font-style: normal; // italic 대신 
  border-inline-start: 0.25em solid $primary-color;
  margin-bottom: 22px;

  cite {
    font-style: italic;

    &::before {
      content: "\2014";
      padding-inline-end: 5px;
    }
  }

  p {
    margin:0;
  }
}
  

table {
    font-family: $Open-Sans, sans-serif;
    padding: 0;
    word-break: initial;
    margin: 20px 0;
}
table tr {
    font-family:  $Open-Sans, sans-serif;
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}
table th {
    font-weight:  $Open-Sans, sans-serif;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}
table th:first-child,
table td:first-child {
    margin-top: 0;
}
table th:last-child,
table td:last-child {
    margin-bottom: 0;
}


li > p {
  display: inline;  /* 줄바꿈 제거 */
}


.testdirectory{
  background-color: #ddffdd;
}

.orangered-700{
  color:orangered;
  font-size: 20;
  font-weight: 700;
}
.green-700{
  color:green;
  font-size: 20;
  font-weight: 700;
}
.black-700{
  color:black;
  font-size: 20;
  font-weight: 700;
}
.blue-700{
  color:blue;
  font-size: 20;
  font-weight: 700;
}

.refer{
  color:#777;
  font-size: 10px !important;
  font-style: italic;
}

  /*
@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMHANNAAir';
  src: url('{{ site.baseurl }}/assets/fonts/BMHANNAAir.woff2') format('woff2'),
     url('{{ site.baseurl }}/assets/fonts/BMHANNAAir.woff') format('woff'),
     url('{{ site.baseurl }}/assets/fonts/BMHANNAAir.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
*/